body,html {

	background-color: #696969;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;

	}

.hero-image {

	position: relative;

	}

.hero-text {

	text-align: center;
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(-100%, -100%);
	color: white;

}


h1 {

	font-weight: bold;
	font-size: 25px;
}

#slogan {
	font-size: 80px;
	font-weight: bold;
	font-family: sans-serif;
}