body,html {

	background-color: #696969;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;

	}

.hero-image {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.licdn.com/dms/image/C5622AQEDDYgIiJgkUw/feedshare-shrink_2048_1536/0?e=1580947200&v=beta&t=oW4IWQI0bZPq6H36owLGjCo0jfXNE6z3KPv2NkJBJuE");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {

	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

h1 {

	font-size: 50px;
	text-align: center;
}

#slogan {
	font-size: 40x;
	font-family: sans-serif;
	text-align: center;
}

button{

	display: inline-block;
    width: 200px;
    
    /* Padding and margins */
    padding: 10px;
    margin-top: 20px;
    margin: 5px;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
    
    /* Background styles */
    background-color: rgba(255, 102, 0, 0.8);

}

ul{

	style='text-indent: -7px;'>
	text-align: center;

}

